.firstsection{
  display: flex;
  justify-content: space-between;
  border: blue dotted;
  margin-top: 1rem;
}
body>*{
  box-sizing: border-box;
}
.container{
  margin-top: 3rem;
  border: black dotted;
}
.themes{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.themebtn{
  
 border: none;
 border-radius: 10rem;
 background-color: black;
 color: chartreuse;
 width: auto;
 height: auto;
 
}

.btn-container{
   height: 2rem;
   
  border: solid;
  border-radius: 3rem;
  background-color: black;
}