.firstsection{
  display: flex;
  justify-content: space-between;
 
  margin-top: 1rem;
  background-color: hsl(224, 36%, 15%);
  color: aliceblue;
}

body{
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;

}

main{
display: flex ;
justify-content: center;
}
.main-container{
  margin-top: 3rem;
  border: black dotted;
  max-width: 40rem;
  
}
.themes{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  
}
.theme{
  margin-top: 0.5em;
}
.themebtn{
  
 border: none;
 border-radius: 10rem;
 background-color:black;
 color: chartreuse;
 width: auto;
 height: auto;
 
}

.btn-container{
   height: 2rem;
   margin-top: 0.3em;
  border:  black solid;
  border-radius: 3rem;
  background-color: black;
  gap: 2rem;
}

/* screen  */
.screen{
  border: blue dotted;
  margin-top: 0.50rem;
  height: 4rem;
  border-radius: 0.50rem;
}